{% extends  'base.html' %}

{%block title %}
<title>{{title}}</title>
{% endblock title %}


{% block content %}
      <div class="container">     
        <h1>Лев Толстой – зеркало русской революции.</h1>
        <article>
          {% for post in posts %}
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y"}}
            </li>
          </ul>      
          <p>{{ post.text }}</p>
          </p>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %} 
        </article>
        <!-- под последним постом нет линии -->
      </div>  
  {% endblock content %}
